<div class="col-md-4 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">{{ loc.name }}</h5>
            <p class="card-text">{{ loc.address }} - {{ loc.department }}</p>
            <p class="card-text">Horario: {{ loc.schedule }}</p>
            <p class="card-text">Rango de precio: {{ loc.price_range }}</p>
            <a href="#platos_{{ loc.id_location }}" class="btn btn-primary scroll-to-plates">Ver Platos</a>
        </div>
    </div>
</div>