{% extends 'base.html' %}
{% block title %}Registrar Mi Negocio{% endblock %}

{% block content %}
<h2>Registrar Mi Negocio</h2>
<p>Completa los datos para registrar tu local y comenzar a cargar tus platos y promociones.</p>

<form method="POST" class="form-card mt-3">
    <div class="form-group">
        <label>Nombre del local:</label>
        <input type="text" name="name" required class="form-control">
    </div>
    <div class="form-group">
        <label>Dirección:</label>
        <input type="text" name="address" required class="form-control">
    </div>
    <div class="form-group">
        <label>Departamento:</label>
        <input type="text" name="department" required class="form-control">
    </div>
    <div class="form-group">
        <label>Horario:</label>
        <input type="text" name="schedule" required class="form-control">
    </div>
    <div class="form-group">
        <label>Rango de precios:</label>
        <input type="text" name="price_range" required class="form-control">
    </div>
    <div class="form-group">
        <label>Teléfono:</label>
        <input type="text" name="phone" required class="form-control">
    </div>
    <button type="submit" class="btn-primary mt-2">Registrar</button>
</form>
{% endblock %}