{% extends 'base.html' %}
{% block title %}Iniciar sesión · Mesa Mendocina{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center mt-5">
        
        <form method="POST" class="border border-dark p-4 rounded bg-dark" style="width: 30%;">
            <h2 class="text-center mb-4">Iniciar sesión</h2>

            <div class="mb-3">
                <label>Correo</label>
                <input type="email" class="form-control" name="email" required>
            </div>

            <div class="mb-3">
                <label>Contraseña</label>
                <input type="password" class="form-control" name="password" required>
            </div>

            <button type="submit" class="btn btn-outline-primary me-2">Ingresar</button>
            <a href="{{ url_for('public') }}" class="btn btn-outline-danger me-2">Cancelar</a>
            <p class="mt-3">¿No tenés una cuenta? <a href="{{ url_for('users.user_register') }}">Registrarse</a></p>
            
        </form>
    </div>

{% endblock %}